{% extends "blogs/base.html" %}
{% load static %}
{% block header %}
  <header class="jumbotron">
    <h2>Blog: Where you can share your thoughts with your community.</h2>
  </header>
{% endblock header %}

{% block content %}
<h3>Latest Posts</h3>
<ul>
  {% for post in posts %}
    <li>
      <h4><a href="{% url 'blogs:blogpost' post.id %}">{{ post.title }}</a></h4>
      <p>Published {{ post.formatted_date }}</p>
    </li>
  {% empty %}
    <li>No Blogs have been added yet.</li>
  {% endfor %}
</ul>

<a href="{% url 'blogs:new_blogpost' %}">Add a new post</a>
{% endblock content %}
